	{% load static %}
	<!DOCTYPE html>
	<html lang="en">
	<head>
	  <meta charset="UTF-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <title>Sign In</title>

	  <!-- Font Icon -->
	  <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">


	  <!-- Main css -->
	  <link rel="stylesheet" href="{% static 'css/style.css' %} ">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
	  <div class="container">
	    <section class="sign-in">
	      <div class="signin-content">
	        <div class="signin-image">
	          <figure><img src="{% static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
	          <a href="{% url 'register' %}" class="signup-image-link">Not a Member 🤔, Create an account ⌨️</a>
	        </div>
	        <div class="signin-form">
	          <h2 class="form-title">Sign In </h2>
	          <form method="POST" class="register-form" id="login-form">
	            {% csrf_token %}
	            <div class="form-group">
	              <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
	              <input type="text" name="username" id="username" placeholder="Your Name"/>
	            </div>
	            <div class="form-group">
	              <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
	              <input type="password" name="password" id="password" placeholder="Password"/>
	            </div>
	            <br>
	            <b><i>
	              {% for message in messages %}
	              <p id="messages">{{message}}</p>
	              {% endfor %}
	            </i></b>
	            <div class="form-group form-button">
	              <input type="submit" name="signin" id="signin" class="form-submit" value="Sign In"/>
	                <a href="#">Forgot Password !</a>
	              <a href="{% url 'register' %}" ></a>
	              <br>
	              <ul>

	              </ul>
	            </div>
	          </form>
	        </div>
	      </div>
	    </section>
	  </div>
	  <!-- JS -->
	  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
	  <script src="{% static 'js/main.js' %}"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>

	</html>
